# Rosalind´s problems
In order to refresh my skills using Python, I have done some of the Rosalind´problem and somes personal problems that I have found interesting and conveninet

## Problem 1

A string is simply an ordered collection of symbols selected from some alphabet and formed into a word; the length of a string is the number of symbols that it contains.

An example of a length 21 DNA string (whose alphabet contains the symbols 'A', 'C', 'G', and 'T') is "ATGCTTCAGAAAGGTCTTACG."

Given: A DNA string.
Return: The number of each nucleotides

In [1]:
# Let's open and see the document provided
p1 = open("/Users/monkiky/Dropbox/My Mac (Monkikys-MacBook-Pro.local)/Desktop/Rosalind problems/rosalind_dna.txt","r")

In [2]:
file_contents = p1.read()

In [3]:
print (file_contents)

TTTCATTGCTAGGAGACCATCAGGGCATCGCTTATTTTTGTGGGACATTGCGTTCGCATCCAGGTCCGTGAAGGCACTCGCAGTGTATTATCTCTTTCTAGATTGTACGTTGCCAAACAACAAGCCTGGACGATTGTTTTGTTACTCAAGTGACTCGTTACAAGCTAAATCACAGAAGGACACTGCCGAAGATGGCTAGAAGAGTTATCTCTAGAGGACCCTCACAAACGTATCTCCGGAAGGGGATACGGGAAACACGCGTTACTGCGAGAAATTCCAAAGGAGTGGCAAAGAGTAGAGAAAACTCTACAGAATGGACTCCTAATCGAATGTGTTCATCCGCCACACACTTGCACCACCTGCATGAGCGAAAAATCCAACGCTTGTTTACTGACCCTATACAACAATACGCAACATACAAGGTATAAGTCTTTCTCGGAATACCATGAGGAGGCTATATTGCTATTGGTCCGAGCACTAATTATTAGCCATATCTTTTGGATAAACTTTCAGGATGAGGAGCGAAATGCTAACATGCCAGTTCGGTCACATTGAACGTTAGAAATGGCTTCCAGTAGGTTCTATAACCATCCAAGTCGCTCAGACTTCTACGCACCACAGTCGCGCCCCGAGTCGTACAATGACCCCGCTCGAAAAAAGGCAAGTAGATCCGACATGAGCGCTTTGTCGTAGCCGGGTCGTTTTTGCACGGATTTTCTCCGAGATCGCTCCGGTTTGTAACCCATAACTGCTGTAGGCGCTCGCGTGTTTCCTGGGCCACTTCGCATCAAGGATGTTTATGCGAATGGACGAACGCCTGTGTGCGAAGTGTTGACATGATCGATATCTTGAGCAGGCAGTTGTTCGTGCCCGCGAGGGCTTCGGCGCTCCCTGGCAAATCCACTACGTG

In [93]:
print("In this DNA, we have found", file_contents.count('A'), "A Nucleotides,", file_contents.count('C'),
      "C nucleotides,", file_contents.count('T'), "T nucleotides,", "and", 
      file_contents.count('G'), "G nucleotides.")

In this DNA, we have found 241 A Nucleotides, 221 C nucleotides, 231 T nucleotides, and 217 G nucleotides.

In [94]:
# Same can be done using Biopython.
import Bio
from Bio.Seq import Seq
my_seq = Seq(file_contents)
my_seq.count("A")

241

## Problem 2
An RNA string is a string formed from the alphabet containing 'A', 'C', 'G', and 'U'.

Given a DNA string t corresponding to a coding strand, its transcribed RNA string u is formed by replacing all occurrences of 'T' in t with 'U' in u.

Given: A DNA string t having length at most 1000 nt.

Return: The transcribed RNA string of t.

In [9]:
p2=(file_contents.replace('T', 'U'))
p2

'UUUCAUUGCUAGGAGACCAUCAGGGCAUCGCUUAUUUUUGUGGGACAUUGCGUUCGCAUCCAGGUCCGUGAAGGCACUCGCAGUGUAUUAUCUCUUUCUAGAUUGUACGUUGCCAAACAACAAGCCUGGACGAUUGUUUUGUUACUCAAGUGACUCGUUACAAGCUAAAUCACAGAAGGACACUGCCGAAGAUGGCUAGAAGAGUUAUCUCUAGAGGACCCUCACAAACGUAUCUCCGGAAGGGGAUACGGGAAACACGCGUUACUGCGAGAAAUUCCAAAGGAGUGGCAAAGAGUAGAGAAAACUCUACAGAAUGGACUCCUAAUCGAAUGUGUUCAUCCGCCACACACUUGCACCACCUGCAUGAGCGAAAAAUCCAACGCUUGUUUACUGACCCUAUACAACAAUACGCAACAUACAAGGUAUAAGUCUUUCUCGGAAUACCAUGAGGAGGCUAUAUUGCUAUUGGUCCGAGCACUAAUUAUUAGCCAUAUCUUUUGGAUAAACUUUCAGGAUGAGGAGCGAAAUGCUAACAUGCCAGUUCGGUCACAUUGAACGUUAGAAAUGGCUUCCAGUAGGUUCUAUAACCAUCCAAGUCGCUCAGACUUCUACGCACCACAGUCGCGCCCCGAGUCGUACAAUGACCCCGCUCGAAAAAAGGCAAGUAGAUCCGACAUGAGCGCUUUGUCGUAGCCGGGUCGUUUUUGCACGGAUUUUCUCCGAGAUCGCUCCGGUUUGUAACCCAUAACUGCUGUAGGCGCUCGCGUGUUUCCUGGGCCACUUCGCAUCAAGGAUGUUUAUGCGAAUGGACGAACGCCUGUGUGCGAAGUGUUGACAUGAUCGAUAUCUUGAGCAGGCAGUUGUUCGUGCCCGCGAGGGCUUCGGCGCUCCCUGGCAAAUCCACUACGUG\n'

In [10]:
# Using Biopython
my_seq.transcribe()

Seq('UUUCAUUGCUAGGAGACCAUCAGGGCAUCGCUUAUUUUUGUGGGACAUUGCGUU...UG
')

## Problem 3

In DNA strings, symbols 'A' and 'T' are complements of each other, as are 'C' and 'G'.

The reverse complement of a DNA string s is the string sc formed by reversing the symbols of s, then taking the complement of each symbol (e.g., the reverse complement of "GTCA" is "TGAC").

In [11]:
complement = {'A': 'T', 'C': 'G', 'G': 'C', 'T': 'A'}
reverse_complement = "".join(complement.get(base, base) for base in reversed(file_contents))
reverse_complement

'\nCACGTAGTGGATTTGCCAGGGAGCGCCGAAGCCCTCGCGGGCACGAACAACTGCCTGCTCAAGATATCGATCATGTCAACACTTCGCACACAGGCGTTCGTCCATTCGCATAAACATCCTTGATGCGAAGTGGCCCAGGAAACACGCGAGCGCCTACAGCAGTTATGGGTTACAAACCGGAGCGATCTCGGAGAAAATCCGTGCAAAAACGACCCGGCTACGACAAAGCGCTCATGTCGGATCTACTTGCCTTTTTTCGAGCGGGGTCATTGTACGACTCGGGGCGCGACTGTGGTGCGTAGAAGTCTGAGCGACTTGGATGGTTATAGAACCTACTGGAAGCCATTTCTAACGTTCAATGTGACCGAACTGGCATGTTAGCATTTCGCTCCTCATCCTGAAAGTTTATCCAAAAGATATGGCTAATAATTAGTGCTCGGACCAATAGCAATATAGCCTCCTCATGGTATTCCGAGAAAGACTTATACCTTGTATGTTGCGTATTGTTGTATAGGGTCAGTAAACAAGCGTTGGATTTTTCGCTCATGCAGGTGGTGCAAGTGTGTGGCGGATGAACACATTCGATTAGGAGTCCATTCTGTAGAGTTTTCTCTACTCTTTGCCACTCCTTTGGAATTTCTCGCAGTAACGCGTGTTTCCCGTATCCCCTTCCGGAGATACGTTTGTGAGGGTCCTCTAGAGATAACTCTTCTAGCCATCTTCGGCAGTGTCCTTCTGTGATTTAGCTTGTAACGAGTCACTTGAGTAACAAAACAATCGTCCAGGCTTGTTGTTTGGCAACGTACAATCTAGAAAGAGATAATACACTGCGAGTGCCTTCACGGACCTGGATGCGAACGCAATGTCCCACAAAAATAAGCGATGCCCTGATGGTCTCCTAGCAATGAAA'

In [12]:
print (file_contents)

TTTCATTGCTAGGAGACCATCAGGGCATCGCTTATTTTTGTGGGACATTGCGTTCGCATCCAGGTCCGTGAAGGCACTCGCAGTGTATTATCTCTTTCTAGATTGTACGTTGCCAAACAACAAGCCTGGACGATTGTTTTGTTACTCAAGTGACTCGTTACAAGCTAAATCACAGAAGGACACTGCCGAAGATGGCTAGAAGAGTTATCTCTAGAGGACCCTCACAAACGTATCTCCGGAAGGGGATACGGGAAACACGCGTTACTGCGAGAAATTCCAAAGGAGTGGCAAAGAGTAGAGAAAACTCTACAGAATGGACTCCTAATCGAATGTGTTCATCCGCCACACACTTGCACCACCTGCATGAGCGAAAAATCCAACGCTTGTTTACTGACCCTATACAACAATACGCAACATACAAGGTATAAGTCTTTCTCGGAATACCATGAGGAGGCTATATTGCTATTGGTCCGAGCACTAATTATTAGCCATATCTTTTGGATAAACTTTCAGGATGAGGAGCGAAATGCTAACATGCCAGTTCGGTCACATTGAACGTTAGAAATGGCTTCCAGTAGGTTCTATAACCATCCAAGTCGCTCAGACTTCTACGCACCACAGTCGCGCCCCGAGTCGTACAATGACCCCGCTCGAAAAAAGGCAAGTAGATCCGACATGAGCGCTTTGTCGTAGCCGGGTCGTTTTTGCACGGATTTTCTCCGAGATCGCTCCGGTTTGTAACCCATAACTGCTGTAGGCGCTCGCGTGTTTCCTGGGCCACTTCGCATCAAGGATGTTTATGCGAATGGACGAACGCCTGTGTGCGAAGTGTTGACATGATCGATATCTTGAGCAGGCAGTTGTTCGTGCCCGCGAGGGCTTCGGCGCTCCCTGGCAAATCCACTACGTG

In [13]:
# If we want to use biopython
my_seq.complement() # This give us the complement

Seq('AAAGTAACGATCCTCTGGTAGTCCCGTAGCGAATAAAAACACCCTGTAACGCAA...AC
')

In [14]:
my_seq.reverse_complement() # And this the complement reverse 
# Same seq that the "reverse_complement" did before.

Seq('
CACGTAGTGGATTTGCCAGGGAGCGCCGAAGCCCTCGCGGGCACGAACAACTG...AAA')

## Problem 4
A sequence is an ordered collection of objects (usually numbers), which are allowed to repeat. Sequences can be finite or infinite. Two examples are the finite sequence (π,−2‾√,0,π) and the infinite sequence of odd numbers (1,3,5,7,9,…). We use the notation an to represent the n-th term of a sequence.

A recurrence relation is a way of defining the terms of a sequence with respect to the values of previous terms. In the case of Fibonacci's rabbits from the introduction, any given month will contain the rabbits that were alive the previous month, plus any new offspring. A key observation is that the number of offspring in any month is equal to the number of rabbits that were alive two months prior. As a result, if Fn represents the number of rabbit pairs alive after the n-th month, then we obtain the Fibonacci sequence having terms Fn that are defined by the recurrence relation Fn=Fn−1+Fn−2 (with F1=F2=1 to initiate the sequence). Although the sequence bears Fibonacci's name, it was known to Indian mathematicians over two millennia ago.

When finding the n-th term of a sequence defined by a recurrence relation, we can simply use the recurrence relation to generate terms for progressively larger values of n. This problem introduces us to the computational technique of dynamic programming, which successively builds up solutions by using the answers to smaller cases.

Given: Positive integers n≤40 and k≤5.

Return: The total number of rabbit pairs that will be present after n months, if we begin with 1 pair and in each generation, every pair of reproduction-age rabbits produces a litter of k rabbit pairs (instead of only 1 pair).

In [15]:
def fibonacci(n):
    if n==0:
        print("Imput must be a number >0")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [16]:
print(fibonacci(5))

3

## Problem 5
The GC-content of a DNA string is given by the percentage of symbols in the string that are 'C' or 'G'. For example, the GC-content of "AGCTATAG" is 37.5%. Note that the reverse complement of any DNA string has the same GC-content.

DNA strings must be labeled when they are consolidated into a database. A commonly used method of string labeling is called FASTA format. In this format, the string is introduced by a line that begins with '>', followed by some labeling information. Subsequent lines contain the string itself; the first line to begin with '>' indicates the label of the next string.

In Rosalind's implementation, a string in FASTA format will be labeled by the ID "Rosalind_xxxx", where "xxxx" denotes a four-digit code between 0000 and 9999.

Given: At most 10 DNA strings in FASTA format (of length at most 1 kbp each).

Return: The ID of the string having the highest GC-content, followed by the GC-content of that string. Rosalind allows for a default error of 0.001 in all decimal answers unless otherwise stated; please see the note on absolute error below.

In [17]:
# We can use the code used in problem 1, count the nucleotides and then calculate their percentages
A = file_contents.count('A')
G = file_contents.count('G')
T = file_contents.count('T')
C = file_contents.count('C')

total_nucleotide = A + G + T + C

In [18]:
# % GC-content
(G/total_nucleotide) + (C/total_nucleotide)

0.48131868131868133

## Problem 6

Given two strings s and t of equal length, the Hamming distance between s and t, denoted dH(s,t), is the number of corresponding symbols that differ in s and t. See Figure 2.

Given: Two DNA strings s and t of equal length (not exceeding 1 kbp).

Return: The Hamming distance dH(s,t).

In [19]:
# Let´s create a two different DNA strings

DNA1 = "GAGCCTACTAACGGGAT"
DNA2 = "CATCGTAATGACGGCCT"

In [20]:
both=zip(DNA1,DNA2)# the first item in each passed iterator is paired together, 
# and then the second item in each passed iterator are paired together etc.

In [21]:
counter=[]
for i,j in both:
    if i==j:
        print (i,'=',j)
    else: 
        counter.append(i)
        print (i,'--',j)
        
print("Number of mutatios is", len(counter))

G -- C
A = A
G -- T
C = C
C -- G
T = T
A = A
C -- A
T = T
A -- G
A = A
C = C
G = G
G = G
G -- C
A -- C
T = T
Number of mutatios is 7

In [22]:
# k = AA, p = Aa and q = aa
def genetica(k,p,q):
    A = k*2 + 0.5*p
    a = q*2 + 0.5*p
    # 
    return 100-(a*a)

In [23]:
genetica(2,2,2)

75.0

# Problem 7

Given: Three positive integers k, m, and n, representing a population containing k+m+n organisms: k individuals are homozygous dominant for a factor, m are heterozygous, and n are homozygous recessive.

Return: The probability that two randomly selected mating organisms will produce an individual possessing a dominant allele (and thus displaying the dominant phenotype). Assume that any two organisms can mate.

In [24]:
import math

hom = 2
het = 2
rec = 2

In [25]:
# total population
pop_total = 4 * math.comb(hom + het + rec, 2)

# dominant organisms         
dom_total = 4* math.comb(hom,2) + 4*hom*het + 4*hom*rec + 3*math.comb(het,2) + 2*het*rec

# probability for dominant organisms
dom_total/pop_total

0.7833333333333333

# Problem 8

The 20 commonly occurring amino acids are abbreviated by using 20 letters from the English alphabet (all letters except for B, J, O, U, X, and Z). Protein strings are constructed from these 20 symbols. Henceforth, the term genetic string will incorporate protein strings along with DNA strings and RNA strings.

The RNA codon table dictates the details regarding the encoding of specific codons into the amino acid alphabet.

Given: An RNA string s corresponding to a strand of mRNA (of length at most 10 kbp).

Return: The protein string encoded by s.

In [95]:
DNA8 ="TTTCATTGCTAGGAGACCATCAGGGCATCGCTTATTTTTGTGGGACATTGCGTTCGCATCCAGGTCCGTGAAGGCACTCGCAGTGTATTATCTCTTTCTAGATTGTACGTTGCCAAACAACAAGCCTGGACGATTGTTTTGTTACTCAAGTGACTCGTTACAAGCTAAATCACAGAAGGACACTGCCGAAGATGGCTAGAAGAGTTATCTCTAGAGGACCCTCACAAACGTATCTCCGGAAGGGGATACGGGAAACACGCGTTACTGCGAGAAATTCCAAAGGAGTGGCAAAGAGTAGAGAAAACTCTACAGAATGGACTCCTAATCGAATGTGTTCATCCGCCACACACTTGCACCACCTGCATGAGCGAAAAATCCAACGCTTGTTTACTGACCCTATACAACAATACGCAACATACAAGGTATAAGTCTTTCTCGGAATACCATGAGGAGGCTATATTGCTATTGGTCCGAGCACTAATTATTAGCCATATCTTTTGGATAAACTTTCAGGATGAGGAGCGAAATGCTAACATGCCAGTTCGGTCACATTGAACGTTAGAAATGGCTTCCAGTAGGTTCTATAACCATCCAAGTCGCTCAGACTTCTACGCACCACAGTCGCGCCCCGAGTCGTACAATGACCCCGCTCGAAAAAAGGCAAGTAGATCCGACATGAGCGCTTTGTCGTAGCCGGGTCGTTTTTGCACGGATTTTCTCCGAGATCGCTCCGGTTTGTAACCCATAACTGCTGTAGGCGCTCGCGTGTTTCCTGGGCCACTTCGCATCAAGGATGTTTATGCGAATGGACGAACGCCTGTGTGCGAAGTGTTGACATGATCGATATCTTGAGCAGGCAGTTGTTCGTGCCCGCGAGGGCTTCGGCGCTCCCTGGCAAATCCACTACGT"

In [96]:
from textwrap import wrap

In [97]:
codons= wrap(DNA8, 3) # First we create the codons
codons

['TTT',
 'CAT',
 'TGC',
 'TAG',
 'GAG',
 'ACC',
 'ATC',
 'AGG',
 'GCA',
 'TCG',
 'CTT',
 'ATT',
 'TTT',
 'GTG',
 'GGA',
 'CAT',
 'TGC',
 'GTT',
 'CGC',
 'ATC',
 'CAG',
 'GTC',
 'CGT',
 'GAA',
 'GGC',
 'ACT',
 'CGC',
 'AGT',
 'GTA',
 'TTA',
 'TCT',
 'CTT',
 'TCT',
 'AGA',
 'TTG',
 'TAC',
 'GTT',
 'GCC',
 'AAA',
 'CAA',
 'CAA',
 'GCC',
 'TGG',
 'ACG',
 'ATT',
 'GTT',
 'TTG',
 'TTA',
 'CTC',
 'AAG',
 'TGA',
 'CTC',
 'GTT',
 'ACA',
 'AGC',
 'TAA',
 'ATC',
 'ACA',
 'GAA',
 'GGA',
 'CAC',
 'TGC',
 'CGA',
 'AGA',
 'TGG',
 'CTA',
 'GAA',
 'GAG',
 'TTA',
 'TCT',
 'CTA',
 'GAG',
 'GAC',
 'CCT',
 'CAC',
 'AAA',
 'CGT',
 'ATC',
 'TCC',
 'GGA',
 'AGG',
 'GGA',
 'TAC',
 'GGG',
 'AAA',
 'CAC',
 'GCG',
 'TTA',
 'CTG',
 'CGA',
 'GAA',
 'ATT',
 'CCA',
 'AAG',
 'GAG',
 'TGG',
 'CAA',
 'AGA',
 'GTA',
 'GAG',
 'AAA',
 'ACT',
 'CTA',
 'CAG',
 'AAT',
 'GGA',
 'CTC',
 'CTA',
 'ATC',
 'GAA',
 'TGT',
 'GTT',
 'CAT',
 'CCG',
 'CCA',
 'CAC',
 'ACT',
 'TGC',
 'ACC',
 'ACC',
 'TGC',
 'ATG',
 'AGC',
 'GAA',
 'AAA',
 'TCC',
 'AAC',
 'GCT',
 'TGT',
 'TTA',
 'CTG',
 'ACC',
 'CTA',
 'TAC',
 'AAC',
 'AAT',
 'ACG',
 'CAA',
 'CAT',
 'ACA',
 'AGG',
 'TAT',
 'AAG',
 'TCT',
 'TTC',
 'TCG',
 'GAA',
 'TAC',
 'CAT',
 'GAG',
 'GAG',
 'GCT',
 'ATA',
 'TTG',
 'CTA',
 'TTG',
 'GTC',
 'CGA',
 'GCA',
 'CTA',
 'ATT',
 'ATT',
 'AGC',
 'CAT',
 'ATC',
 'TTT',
 'TGG',
 'ATA',
 'AAC',
 'TTT',
 'CAG',
 'GAT',
 'GAG',
 'GAG',
 'CGA',
 'AAT',
 'GCT',
 'AAC',
 'ATG',
 'CCA',
 'GTT',
 'CGG',
 'TCA',
 'CAT',
 'TGA',
 'ACG',
 'TTA',
 'GAA',
 'ATG',
 'GCT',
 'TCC',
 'AGT',
 'AGG',
 'TTC',
 'TAT',
 'AAC',
 'CAT',
 'CCA',
 'AGT',
 'CGC',
 'TCA',
 'GAC',
 'TTC',
 'TAC',
 'GCA',
 'CCA',
 'CAG',
 'TCG',
 'CGC',
 'CCC',
 'GAG',
 'TCG',
 'TAC',
 'AAT',
 'GAC',
 'CCC',
 'GCT',
 'CGA',
 'AAA',
 'AAG',
 'GCA',
 'AGT',
 'AGA',
 'TCC',
 'GAC',
 'ATG',
 'AGC',
 'GCT',
 'TTG',
 'TCG',
 'TAG',
 'CCG',
 'GGT',
 'CGT',
 'TTT',
 'TGC',
 'ACG',
 'GAT',
 'TTT',
 'CTC',
 'CGA',
 'GAT',
 'CGC',
 'TCC',
 'GGT',
 'TTG',
 'TAA',
 'CCC',
 'ATA',
 'ACT',
 'GCT',
 'GTA',
 'GGC',
 'GCT',
 'CGC',
 'GTG',
 'TTT',
 'CCT',
 'GGG',
 'CCA',
 'CTT',
 'CGC',
 'ATC',
 'AAG',
 'GAT',
 'GTT',
 'TAT',
 'GCG',
 'AAT',
 'GGA',
 'CGA',
 'ACG',
 'CCT',
 'GTG',
 'TGC',
 'GAA',
 'GTG',
 'TTG',
 'ACA',
 'TGA',
 'TCG',
 'ATA',
 'TCT',
 'TGA',
 'GCA',
 'GGC',
 'AGT',
 'TGT',
 'TCG',
 'TGC',
 'CCG',
 'CGA',
 'GGG',
 'CTT',
 'CGG',
 'CGC',
 'TCC',
 'CTG',
 'GCA',
 'AAT',
 'CCA',
 'CTA',
 'CGT']

In [ ]:
# I have found the genetic code on internet (a dict, what I want)
codon2aa = { 
        'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M', 
        'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T', 
        'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K', 
        'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',                  
        'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L', 
        'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P', 
        'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q', 
        'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R', 
        'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V', 
        'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A', 
        'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E', 
        'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G', 
        'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S', 
        'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L', 
        'TAC':'Y', 'TAT':'Y', 'TAA':'_', 'TAG':'_', 
        'TGC':'C', 'TGT':'C', 'TGA':'_', 'TGG':'W', 
    }

In [ ]:
list_of_protein = [codon2aa[x] for x in codons]#######################################

list_of_protein

In [ ]:
# List2string
# initialize an empty string 
protein = ""  
    
# traverse in the string   
for aa in list_of_protein:  
    protein += aa   
protein

In [ ]:
# Using Biopython
DNA8biop = Seq(DNA8)
DNA8biop.translate()

# Problem 9

In [ ]:
def finding_motif(DNA, motif):
    result = []
    mlen = len(motif)
    slen = len(DNA)
    for i in range(0, slen - mlen + 1):
        if DNA[i:i+mlen] == motif:
            result.append(i+1)        
    return result

In [ ]:
A=5
B=10
for i in range(A,B+1):
    print(i)

# Personal problem
In a conversation between my grandfather and my grandfather sister, there was a stupid discussion about in which book Old Testament or New Testament the word Jesus appear more time. 

I thought that perhaps with a simple program I can help them to find out the answer.

In [61]:
# First, let´s read the txt document
# Using the Terminal, we can download the document The Old Testament and The New Testament
# curl -O <URL>
new = open("/Users/monkiky/Dropbox/My Mac (Monkikys-MacBook-Pro.local)/Desktop/Rosalind problems/newT.txt","r")
old = open("/Users/monkiky/Dropbox/My Mac (Monkikys-MacBook-Pro.local)/Desktop/Rosalind problems/oldT.txt","r")

In [62]:
# First, lets see how many words we have in each book

words = []

with open('/Users/monkiky/Dropbox/My Mac (Monkikys-MacBook-Pro.local)/Desktop/Rosalind problems/oldT.txt','r') as f:
    for line in f:
        for word in line.split():
            words.append(word)
print("Approx total words in the old",len(words))

Approx total words in the old 632582

In [63]:
words = []

with open('/Users/monkiky/Dropbox/My Mac (Monkikys-MacBook-Pro.local)/Desktop/Rosalind problems/newT.txt','r') as f:
    for line in f:
        for word in line.split():
            words.append(word)
print("Approx total words in the new",len(words))

Approx total words in the new 188550

In [64]:
# we can count the repetition of each word

from collections import Counter
wordcount_new = Counter(new.read().split())
wordcount_old = Counter(old.read().split())

collections.Counter

In [36]:
import pandas as pd

In [71]:
# For better manipulation, we use df
df_new = pd.DataFrame.from_dict(wordcount_new, orient='index').reset_index()
df_new = df_new.rename(columns = {'index': 'words', 0: 'New_times'}, inplace = False)
df_new

           words  New_times
0            The        293
1            New          1
2      Testament          1
3             of       6052
4            the      10724
...          ...        ...
14052     river,          1
14053     month:          1
14054    filthy,          1
14055   quickly;          1
14056       lie.          1

[14057 rows x 2 columns]

In [72]:
df_old = pd.DataFrame.from_dict(wordcount_old, orient='index').reset_index()
df_old = df_old.rename(columns = {'index': 'words', 0: 'Old_times'}, inplace = False)
df_old

            words  Old_times
0             The       1606
1             Old          1
2       Testament          1
3              of      28393
4             the      51375
...           ...        ...
28237  mournfully          1
28238      happy;          1
28239       oven;          1
28240         Sun          1
28241      stall.          1

[28242 rows x 2 columns]

In [83]:
# We merge both dfs. If one value is not in common, with "how="outer" add a Na
df_Bible= pd.merge(df_new, df_old, on="words",how="outer")
df_Bible

             words  New_times  Old_times
0              The      293.0     1606.0
1              New        1.0        NaN
2        Testament        1.0        1.0
3               of     6052.0    28393.0
4              the    10724.0    51375.0
...            ...        ...        ...
33439  delightsome        NaN        1.0
33440   mournfully        NaN        1.0
33441       happy;        NaN        1.0
33442          Sun        NaN        1.0
33443       stall.        NaN        1.0

[33444 rows x 3 columns]

In [85]:
# Now we can find out if a particular word is found in both books and know also how many times appears 
df_Bible[df_Bible["words"] == 'Jesus']

    words  New_times  Old_times
16  Jesus      775.0        NaN

In [86]:
df_Bible[df_Bible["words"] == 'Peter']

      words  New_times  Old_times
2721  Peter      111.0        NaN

In [87]:
df_Bible[df_Bible["words"] == 'Moses']

      words  New_times  Old_times
1482  Moses       47.0      437.0

In [88]:
df_Bible[df_Bible["words"] == 'Mary']

    words  New_times  Old_times
167  Mary       40.0        NaN

In [89]:
df_Bible[df_Bible["words"] == 'God']

    words  New_times  Old_times
248   God      666.0     1563.0